<form [formGroup]="pageForm" >
  <div fxLayout="row" fxLayoutGap="6px" fxLayoutAlign="start center" fxFill>
    <mat-form-field class="mt-1 input-size input-text-size" appearance="outline">
      <mat-label>کالا</mat-label>
      <mat-select placeholder="کالا" #goodCtrl formControlName="goodCtrl" disableOptionCentering>
        <mat-select-trigger>
          {{ goodCtrl.value?.name }}
        </mat-select-trigger>
        <mat-option>
          <ngx-mat-select-search [formControl]="goodFilterCtrl" placeholderLabel="جستجو..."
            noEntriesFoundLabel="موردی یافت نشد"></ngx-mat-select-search>
        </mat-option>
        <mat-option class="mt-2" *ngFor="let good of  filterGoods | async ;let i=index;" [value]="good">
          {{good.name}}
        </mat-option>

      </mat-select>
      <mat-error *ngIf="errorHandling('goodCtrl', 'required')">
        انتخاب انبار اجباری است
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mt-1 input-field-width" appearance="outline" color="primary">
      <mat-label>شماره بچ (batch)</mat-label>
      <input matInput placeholder="شماره بچ : 1234..." #batchNumber formControlName="batchNumber"
        class="input-field-size" />
      <!-- <mat-error *ngIf="errorHandling('batchNumber', 'required')">
          وارد کردن شماره بچ اجباری است
        </mat-error> -->
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field class="mt-1 input-field-width" appearance="outline" color="primary">
      <mat-label> تاریخ انقضا</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="تاریخ انقضا" #datePicker readonly
        (dateChange)="onChange($event)" formControlName="datePicker" class="input-field-size">
        <button matDatepickerToggleIcon *ngIf="datePicker.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearDate($event)">
          <mat-icon>close</mat-icon>
        </button>
        <!-- <mat-icon matDatepickerToggleIcon *ngIf="datePicker.value" (click)="clearDate($event)">clear</mat-icon> -->
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>انصراف</button>
          <button mat-raised-button color="primary" matDatepickerApply>تایید</button>
        </mat-datepicker-actions>
      </mat-datepicker>
      <!-- <mat-error *ngIf="errorHandling('datePicker', 'required')">
          وارد کردن تاریخ اجباری است
        </mat-error> -->
    </mat-form-field>

    <mat-form-field class="mt-1 input-count-field-width " appearance="outline" color="primary">
      <mat-label>تعداد</mat-label>
      <input matInput placeholder="1 ..." #count formControlName="count" [pattern]="numberPattern"
        class="input-field-size" />
      <mat-error *ngIf="errorHandling('count', 'required')">
        وارد کردن تعداد اجباری است
      </mat-error>
      <mat-error *ngIf="errorHandling('count', 'pattern')">
        عدد وارد کنید
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mt-1 input-field-width" appearance="outline" color="primary">
      <mat-label> قیمت (ریال)</mat-label>
      <input matInput placeholder="1,000" #price formControlName="price" PersianCurency class="input-field-size" />
      <mat-error *ngIf="errorHandling('price', 'required')">
        انتخاب انبار اجباری است
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center" class="ms-3">
      <button mat-raised-button color="primary" [disabled]="pageForm.invalid" class="mb-2" (click)="add(pageForm)">
        <div *ngIf="!isEditMode;else edit">
          <i class="icon-plus-square icon-19px _white-color"></i>
          <span class="me-1">افزودن</span>
        </div>
        <ng-template #edit>
          <i class="icon-edit icon-19px _white-color"></i>
          <span class="me-1">ویرایش</span>
        </ng-template>

      </button>
      <div [hidden]="pageForm.invalid">
        <button mat-button color="warn" (click)="reset()" class="mb-2">
          <span>انصراف</span>
        </button>
      </div>
    </div>
  </div>

</form>
