<div *ngIf="isLoading$ | async; else table" fxLayout="column" fxLayoutAlign="center center">
    <div class="loading-shade" *ngIf="isLoading$ | async">
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner [strokeWidth]="3" [diameter]="30" [mode]="'indeterminate'" *ngIf="isLoading$ | async"></mat-progress-spinner>
        <h3 class="mt-3">در حال دریافت اطلاعت از سرور ...</h3>
      </div>
    </div>
  </div>
  <ng-template #table>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="w-100 text-right table-width " [ngClass]="dataSource.data.length == 0 ? 'table-fullHeight' : ''">
        <!-- Index Column -->
        <ng-container matColumnDef="index">
          <th class="text-center" mat-header-cell *matHeaderCellDef class="mat-column-small-width text-right">#</th>
          <td class=" mat-column-small-width text-right" mat-cell *matCellDef="let element;index as i;">
            {{i+1}}
          </td>
        </ng-container>
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="id-col-width text-right">شناسه کالا</th>
          <td mat-cell class="text-right" *matCellDef="let element"> {{element.id}}</td>
        </ng-container>
        <!-- manualId Column -->
        <ng-container matColumnDef="manualId">
          <th mat-header-cell *matHeaderCellDef class="name-col-width text-right">شناسه دستی</th>
          <td mat-cell class="text-right" *matCellDef="let element"> {{element.manualId}} </td>
        </ng-container>
        <!-- name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class=" text-right">نام کالا</th>
          <td mat-cell class="text-right" *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <!-- latinName Column -->
        <ng-container matColumnDef="latinName">
          <th mat-header-cell *matHeaderCellDef class="text-right">لاتین</th>
          <td mat-cell class="text-right" *matCellDef="let element"> {{element.latinName}}</td>
        </ng-container>
        <!-- unitName Column -->
        <ng-container matColumnDef="unitName">
          <th mat-header-cell *matHeaderCellDef class="text-right">واحد</th>
          <td mat-cell class="text-right" *matCellDef="let element"> {{element.unitName}}</td>
        </ng-container>
        <!-- unitId Column -->
        <ng-container matColumnDef="unitId">
          <th mat-header-cell *matHeaderCellDef class="text-right" hidden>unitId</th>
          <td mat-cell class="text-right" *matCellDef="let element" hidden> {{element.unitId}}</td>
        </ng-container>
        <!-- desc Column -->
        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef class="text-right">توضیحات</th>
          <td mat-cell class="text-right" *matCellDef="let element"> {{element.description}}</td>
        </ng-container>
        <!-- menu -->
        <ng-container matColumnDef="menu">
          <th mat-header-cell class="text-center" *matHeaderCellDef></th>
          <td mat-cell class="text-left menu-width" *matCellDef="let row">
            <!-- <div [hidden]="row.id == currentRow">
                <mat-checkbox disabled [checked]="row.grantAccess"> </mat-checkbox>
              </div> -->
            <div [hidden]="row.id != currentRow">
    
              <!-- <mat-icon title="Reset Password" color='accent' (click)="clickTest()">
                  lock_reset</mat-icon> -->
    
              <button mat-icon-button>
                <i class="icon-edit-3 icon-20px " (click)="edit(row)"></i>
              </button>
              <button mat-icon-button>
                <i class="icon-trash-2 icon-20px delete-btn" (click)="delete(row)"></i>
              </button>
              <!-- <mat-icon title="Delete Card" color='warn' (click)="clickTest()">delete</mat-icon> -->
    
            </div>
          </td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [colSpan]="displayedColumns.length+1">
            <div fxLayout="row" fxFill fxLayoutAlign="center center">
              <div class="warning-box">
                <span>اطلاعاتی جهت نمایش وجود ندارد</span>
              </div>
  
            </div>
          </td>
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered}"
          (mouseover)="row.hovered = true" (mouseover)="currentRow = row.id" (mouseout)="currentRow= -1"
          (mouseout)="row.hovered = false">
        </tr>
      </table>
    </div>
  
  </ng-template>
  