@use '@angular/material' as mat;

@include mat.core();
@import '_fonts.scss';
@import "mat-color-palette.scss";

// (font-size,line-height ,font-weight)
// .mat-h1 or .mat-headline
// .mat-h2 or .mat-title
// .mat-h3 or .mat-subheading-2	
// .mat-h4 or .mat-subheading-1	
// .mat-h5	None
// .mat-h6	None	
// .mat-body or .mat-body-1	body-1
// .mat-body-strong or .mat-body-2	
// .mat-small or .mat-caption
 
$custom-typography: mat.define-typography-config(
  $display-4:  mat.define-typography-level(26px, 42px),
  $display-3:  mat.define-typography-level(24px, 40px),
  $display-2:  mat.define-typography-level(22px, 38px),
  $display-1:  mat.define-typography-level(20px, 36px),
  $headline:   mat.define-typography-level(18px, 34px , bold),
  $title:      mat.define-typography-level(16px, 32px , 600),
  $subheading-2:  mat.define-typography-level(14px, 30px),
  $subheading-1:  mat.define-typography-level(14px, 30px),
  $body-1:     mat.define-typography-level(14px, 26px),
  $body-2:     mat.define-typography-level(12px, 26px),
  $caption:    mat.define-typography-level(10px, 20px),
  $font-family: IRANSans !important,
);


  $custom-theme: mat.define-light-theme((
   color: (
     primary:$bio-atlas-primary,
     accent: $bio-atlas-accent,
   ),
  ));

@include mat.core($custom-typography);
@include mat.all-component-themes($custom-theme);