.mat-h2{
    color: mat-color($cornflower-palette, 500);
}
.mat-h3{
    color: mat-color($gray-palette, 700);
}
.mat-subheading-1{
    color: mat-color($gray-palette, 500);
}
.mat-headline{
    margin: 0 !important;
    color: mat-color($textcolor-palette, dusk);
}