@import "/src/assets/scss/mat-color-palette";
@import "/src/assets/scss/variables";

/*#region rtl*/
::ng-deep [dir="rtl"] {
  .user-list {
    border-radius: $radius-small;
    background-color: $white;

    &_header {
      padding: 8px 8px 8px 0;
      margin-bottom: 8px;

      &_main-btn {
        align-items: baseline;
      }

      &_action-btn {
        button {
          margin-left: 1.2rem;

          &:last-child {
            margin-left: 0;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              right: -8px;
              top: 7px;
              height: 80%;
              width: 1px;
              border-right: 1px solid mat-color($gray-palette, 300);
            }
          }
        }
      }
    }
  }
}

/*#endregion rtl*/
/*#region ltr*/
::ng-deep [dir="ltr"] {
  .user-list {
    border-radius: $radius-small;
    background-color: $white;

    &_header {
      padding: 8px 0 8px 8px;
      margin-bottom: 8px;

      &_main-btn {
        align-items: baseline;
      }

      &_action-btn {
        button {
          margin-right: 1.2rem;

          &:last-child {
            margin-right: 0;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              left: -8px;
              top: 7px;
              height: 80%;
              width: 1px;
              border-left: 1px solid mat-color($gray-palette, 300);
            }
          }
        }
      }
    }
  }
}

/*#endregion ltr*/
