<form [formGroup]="pageForm" (ngSubmit)="add(pageForm)">
  <div fxLayout fxLayoutGap="6px">
    <mat-form-field class="mt-1 input-size input-text-size" appearance="outline">
      <mat-label>کالا</mat-label>
      <mat-select placeholder="کالا" #goodCtrl formControlName="goodCtrl" disableOptionCentering
        (selectionChange)="getDetails(pageForm,goodCtrl.value)">
        <mat-select-trigger>
          {{ goodCtrl.value?.name }}
        </mat-select-trigger>
        <mat-option>
          <ngx-mat-select-search [formControl]="goodFilterCtrl" placeholderLabel="جستجو..."
            noEntriesFoundLabel="موردی یافت نشد"></ngx-mat-select-search>
        </mat-option>
        <mat-option class="mt-2" *ngFor="let good of filterGoods | async ;let i=index;" [value]="good">
          <div fxLayout="row" fxLayoutGap="10px" fxFill>

            <span fxFlex="30%"> {{good.name}}</span>
            <span fxFlex="70%">شماره بچ : <span class="batchTextStyle"><strong>{{good.bacthNumber}}</strong></span></span>
          </div>
        </mat-option>

      </mat-select>
      <mat-error *ngIf="errorHandling('goodCtrl', 'required')">
        انتخاب انبار اجباری است
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mt-1 input-size input-text-size numberTextView-width-size" appearance="outline"
      color="primary">
      <mat-label>شماره بچ (batch)</mat-label>
      <input matInput placeholder="شماره بچ : 1234..." #batchNumber formControlName="batchNumber"
        [pattern]="numberPattern" />
      <!-- <mat-error *ngIf="errorHandling('batchNumber', 'required')">
          وارد کردن شماره بچ اجباری است
        </mat-error> -->
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <mat-form-field class="mt-1 input-size input-text-size" appearance="outline" color="primary">
      <mat-label> تاریخ انقضا</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="تاریخ انقضا" #datePicker readonly
        (dateChange)="onChange($event)" formControlName="datePicker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>انصراف</button>
          <button mat-raised-button color="primary" matDatepickerApply>تایید</button>
        </mat-datepicker-actions>
      </mat-datepicker>
      <!-- <mat-error *ngIf="errorHandling('datePicker', 'required')">
          وارد کردن تاریخ اجباری است
        </mat-error> -->
    </mat-form-field>

    <mat-form-field class="mt-1 input-size input-text-size numberTextView-width-size" appearance="outline"
      color="primary">
      <mat-label>تعداد</mat-label>
      <input matInput placeholder="1 ..." #count formControlName="count" [pattern]="numberPattern" />
      <mat-error *ngIf="errorHandling('count', 'required')">
        وارد کردن تعداد اجباری است
      </mat-error>
      <mat-error *ngIf="errorHandling('count', 'pattern')">
        عدد وارد کنید
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mt-1 input-size input-text-size" appearance="outline" color="primary">
      <mat-label>(ریال)قیمت</mat-label>
      <input matInput placeholder="1,000" #price formControlName="price" PersianCurency />
      <mat-error *ngIf="errorHandling('price', 'required')">
        انتخاب انبار اجباری است
      </mat-error>
    </mat-form-field>

    <!-- <mat-form-field class="w-35 mt-1 input-size input-text-size" appearance="outline" color="primary">
        <mat-label>توضیحات</mat-label>
        <input matInput placeholder="توضیحات ..." #dec formControlName="dec" />
      </mat-form-field> -->
    <div fxLayout="row" fxLayoutAlign="center center" class="ms-3">
      <button mat-raised-button color="primary" [disabled]="pageForm.invalid" class="mb-2">
        <i class="icon-plus-square icon-19px _white-color"></i>
        <span class="me-1">افزودن</span>
      </button>
    </div>
  </div>
</form>
