<div fxLayout>
    <mat-card class="customer-list position-relative card-height" fxFlex="100%">
      <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="center center">
            <p class="mat-h2 modal-title">مشتریان</p>
          </div>
        <!-- menu -->
        <div class="customer-list_header" fxLayout="row" fxLayoutAlign="space-between">
          <div class="customer-list_header_main-btn" fxLayout="row">
            <button mat-flat-button class="ms-3" color="primary" (click)="crudCustomer()">
              <i class="icon-plus-square icon-20px _white-color ms-1"></i>
              <span>افزودن مشتری</span>
            </button>
          </div>
        </div>
        <!-- menu -->
  
        <!-- DataTable -->
        <app-customer-table></app-customer-table>
        <!-- DataTable -->
  
      </div>
    </mat-card>
  </div>
  