<div class="mb-1" fxLayout="column" fxFill >
  <form [formGroup]="headerForm">
    <div>

      <div fxLayout="row" fxLayoutGap="10px">

        <mat-form-field fxFlex="20%" class="input-size input-text-size" appearance="outline" color="primary">
          <mat-label>تاریخ</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="تاریخ تنظیم سند" #datePicker readonly
            (dateChange)="onChange($event)" formControlName="datePicker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>انصراف</button>
              <button mat-raised-button color="primary" matDatepickerApply>تایید</button>
            </mat-datepicker-actions>
          </mat-datepicker>
          <mat-error *ngIf="errorHandling('datePicker', 'required')">
            وارد کردن تاریخ اجباری است
          </mat-error>
        </mat-form-field>

    
        <mat-form-field fxFlex="30%" class=" w-100 input-text-size" appearance="outline">
          <mat-select placeholder="شخص/مشتری ..." #personSelect formControlName="personSelect">
            <mat-select-trigger>
              {{ personSelect.value?.name }}
            </mat-select-trigger>
            <mat-option>
              <ngx-mat-select-search [formControl]="personFilterCtrl" placeholderLabel="جستجو..."
                noEntriesFoundLabel="موردی یافت نشد"></ngx-mat-select-search>
            </mat-option>
            <mat-option class="mt-3" *ngFor="let person of filterPerson | async ;let i=index;" [value]="person">
              <!-- <span>{{i}}</span> -->
              <span> {{person.name}}</span>
              <!-- <span>{{person.mobile}}</span> -->
              <!-- <div fxLayout="row" fxLayoutAlign="space-between">
                            <span> {{person.name}}</span>
                            <span>{{person.mobile}}</span>
                        </div> -->
              <!-- {{person.name}}---{{person.mobile}} -->
            </mat-option>
          </mat-select>
          <mat-error *ngIf="errorHandling('personSelect', 'required')">
            انتخاب شخص اجباری است
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="30%" class=" w-100 input-text-size" appearance="outline">
          <mat-select placeholder="انبار" #stockSelect formControlName="stockSelect" disableOptionCentering>
            <mat-select-trigger>
              {{ stockSelect.value?.name }}
            </mat-select-trigger>
            <mat-option>
              <ngx-mat-select-search [formControl]="stockFilterCtrl" placeholderLabel="جستجو..."
                noEntriesFoundLabel="موردی یافت نشد"></ngx-mat-select-search>
            </mat-option>
            <mat-option class="mt-3" *ngFor="let stock of filterstock | async ;let i=index;" [value]="stock">
              <span class="mt-2">
                {{stock.name}}
              </span>
              
              <!-- <div fxLayout="row" fxLayoutAlign="space-between">
                              <div>
                                  <span class="ms-2">{{i+1}}</span>
                                  <span> {{stock.name}}</span>
                              </div>
                              <span>{{stock.address}}</span>
                          </div> -->
            </mat-option>

          </mat-select>
          <mat-error *ngIf="errorHandling('stockSelect', 'required')">
            انتخاب انبار اجباری است
          </mat-error>
        </mat-form-field>


      </div>
      <mat-form-field class="w-100 mt-1 description-height" appearance="outline" color="primary">
        <mat-label>توضیحات</mat-label>
        <textarea matInput placeholder="توضیحات" rows="8" cols="50" #description
          formControlName="description"></textarea>
      </mat-form-field>
    </div>

    <div class="text-left mt-3 button-Add" align="end">
      <!-- [disabled]="headerForm.invalid" -->
      <button mat-flat-button mat-Stroked-button color="primary" [disabled]="headerForm.invalid" 
        (click)="submit(headerForm)">
        <span color="primary">ثبت ریز اقلام</span>
      </button>

    </div>
  </form>
</div>
