::ng-deep .mat-select-content{
    width:2000px;
    background-color: red;
    font-size: 10px;   
}

.button-Add{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    direction: ltr;
    margin-bottom: 10px;
    margin-left: 10px; 
}

  // .description-height{
  //   height: 8rem;
  // }
  .input-text-size{
    font-size: 11px;
}
