<mat-card class="section-container ">
    <div class="inventory-list_header" fxLayout="row" fxFill>
      <div class="inventory-list_header_action-btn" >
        <div fxLayout="row" fxLayoutGap="20px" fxFlexAlign="center center">
          <span class="mt-3">کاردکس کالا </span>
          <form [formGroup]="cardexForm">
                  <mat-form-field appearance="outline" style="font-size: 13px;" >
                    <mat-select placeholder="انبار" #stockSelect formControlName="stockSelect" disableOptionCentering>
                      <!-- <mat-select-trigger>
                            {{ stockSelect.value?.name }}
                          </mat-select-trigger> -->
                      <mat-option>
                        <ngx-mat-select-search [formControl]="stockFilterCtrl" placeholderLabel="جستجو..."
                          noEntriesFoundLabel="موردی یافت نشد"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let stock of filterstock | async ;let i=index;" [value]="stock">
                        {{stock.name}}
                      </mat-option>
        
                    </mat-select>
                    <mat-error *ngIf="errorHandling('stockSelect', 'required')">
                          انتخاب انبار اجباری است
                        </mat-error>
                  </mat-form-field>
                  <mat-form-field class="mt-1 input-size input-text-size" appearance="outline" style="font-size: 13px;" class="me-2"> 
                    <mat-select placeholder="کالا" #goodCtrl formControlName="goodCtrl" disableOptionCentering>
                      <mat-select-trigger>
                        {{ goodCtrl.value?.name }}
                      </mat-select-trigger>
                      <mat-option>
                        <ngx-mat-select-search [formControl]="goodFilterCtrl" placeholderLabel="جستجو..." 
                          noEntriesFoundLabel="موردی یافت نشد"></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let good of filterGoods | async ;let i=index;" [value]="good">
                        {{good.name}}
                        <!-- <div fxLayout="row" fxLayoutAlign="space-between">
                                                  <div>
                                                      <span class="ms-2">{{i+1}}</span>
                                                      <span> {{stock.name}}</span>
                                                  </div>
                                                  <span>{{stock.address}}</span>
                                              </div> -->
                      </mat-option>
              
                    </mat-select>
                    <mat-error *ngIf="errorHandling('goodCtrl', 'required')">
                      انتخاب انبار اجباری است
                    </mat-error>
                  </mat-form-field>
                  <button class="me-3 mb-3" mat-flat-button mat-Stroked-button color="primary" [disabled]="cardexForm.invalid" (click)="getCardex(stockSelect.value,goodCtrl.value)">
                    <span fxLayout fxLayoutAlign="center center">            
                       <span color="primary"  >نمایش کاردکس</span>
                      <mat-spinner *ngIf="isLoading$ | async" class="mx-2" color="accent" diameter="20">
                      </mat-spinner>
                    </span>
                  </button>
          </form>
        </div>
      </div>
    </div>
    <app-cardex-table  #dataTable></app-cardex-table>
  </mat-card>
  