@import "../../../../../../../assets/scss/mat-color-palette";
@import "../../../../../../../assets/scss/variables";

.header {
    background-color: #f3feff;
    border-radius: $radius-small ;
    text-align: center;
    // border: 1px solid mat-color($semantic-palette , success);
    margin-bottom: 1rem;
    width: fit-content;
    padding: .5rem 1rem;
    color:  mat-color($semantic-palette , success);
    display: inline-flex;
  }
  .button-Add{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    direction: ltr;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .mat-table {
    height: calc(97vh - 401px);
    overflow: auto;
    width: 100%;
  }