<mat-card class="section-container ">
  <!-- <mat-horizontal-stepper linear #stepper (selectionChange)="onStepChange($event)">
    <mat-step #header [label]="setTitle(formType)" completed=false editable=true state="info">
      <div fxLayout="column" fxFill>
        <app-return-remittance-header [stockOperationType]="formType" [nextStepper]="header"
          (_retrnHeaderInfoDto)="getHeaderInfo($event)" (_remittanceMabna)="getRemittanceDetail($event)"></app-return-remittance-header>
      </div>
    </mat-step>
    <mat-step label="ثبت ریز اقلام" completed=false #detail state="list">
      <app-return-remittance-details #details [headerInfoDto]="headerInfoDto" [remittanceDetail]="remittanceDetail"></app-return-remittance-details>
    </mat-step>

    <ng-template matStepperIcon="info">
      <mat-icon>insert_drive_file</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="list">
      <mat-icon>format_list_numbered_rtl</mat-icon>
    </ng-template>
  </mat-horizontal-stepper> -->

  <div *ngIf="!(isDetailShow$|async);else detail">
    <div fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="row" fxFill fxLayoutAlign="center center">
        <p>{{setTitle(formType)}}</p>
      </div>
      <div fxLayout="row" fxFill>
        <app-return-remittance-header class="w-100" [stockOperationType]="formType"
          (_retrnHeaderInfoDto)="getHeaderInfo($event)" (_remittanceMabna)="getRemittanceDetail($event)">
        </app-return-remittance-header>
      </div>
    </div>
  </div>
  <ng-template #detail>
    <div fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="row" fxFill fxLayoutAlign="center center">
        <p>ثبت ریز اقلام سند</p>
      </div>
      <div fxLayout="row" fxFill>
        <app-return-remittance-details class="w-100" #details [headerInfoDto]="headerInfoDto"
          [remittanceDetail]="remittanceDetail"></app-return-remittance-details>
      </div>
    </div>
  </ng-template>

</mat-card>
