<!-- <div *ngIf="isLoading$ | async" fxLayoutAlign="center center"> -->
  <!-- <div class="loading-shade" *ngIf="isLoading$ | async">
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner [mode]="'indeterminate'" *ngIf="isLoading$ | async"></mat-progress-spinner>
        <h3 class="mt-3">در حال دریافت اطلاعت از سرور ...</h3>
      </div>
    </div> -->
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-scale-pulse" [fullScreen]="true">
    <p style="color: white"> درحال دریافت اطلاعات ... </p>
  </ngx-spinner>
<!-- </div> -->
