@import "/src/assets/scss/mat-color-palette.scss";
@import "/src/assets/scss/variables";
/*#region rtl*/
::ng-deep[dir="rtl"] {
  .details-modal {
    min-width: 850px;
    min-height: 400px;
  }

  .data-container {
    min-height: 300px;

    &_img {
      height: 100px;
      width: 100px;
    }

    &_info {
      margin-right: 16px;

      p.mat-h3 {
        font-weight: 500 !important;
        font-size: 16px !important;
        color: mat-color($cornflower-palette, 400);
      }
    }
  }
}

.description-field-height{
  height: 100px;
}
.close-btn{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  direction: ltr;
  margin-bottom: 10px;
  margin-left: 10px;
}
.example-table-container {
  position: relative;
  min-height: 300px;
  max-height: 63vh;
  overflow: auto;
}
.menu-width{
  min-width: 200px;
}
// .mat-table {
//   height: calc(97vh - 401px);
//   overflow: auto;
//   width: 100%;
// }