@import "../../../../assets/scss/mat-color-palette";
@import "../../../../assets/scss/variables";

.success {
  background-color: #f3fffa;
  border-radius: $radius-small ;
  text-align: center;
  // border: 1px solid mat-color($semantic-palette , success);
  margin-bottom: 1rem;
  width: fit-content;
  padding: .5rem 1rem;
  color:  mat-color($semantic-palette , success);
  display: inline-flex;
  .icon-20px{
    margin-left: 6px;
  }

}

.error {
  background-color: #ffedec;
  border-radius: $radius-small ;
  text-align: center;
  // border: 1px solid mat-color($semantic-palette , danger);
  margin-bottom: 1rem;
  width: fit-content;
  padding: .5rem 1rem;
  color:  mat-color($semantic-palette , danger);
  display: inline-flex;
  .icon-20px{
    margin-left: 6px;
  }
}
.warning {
  background-color: #fffbec;
  border-radius: $radius-small ;
  text-align: center;
  // border: 1px solid mat-color($semantic-palette , warning);
  margin-bottom: 1rem;
  width: fit-content;
  padding: .5rem 1rem;
  color:  mat-color($semantic-palette , warning);
  display: inline-flex;
  .icon-20px{
    margin-left: 6px;
  }
}
